<div class="card mt-3">
    <h2 class="card-header">{{user.name | titlecase }}</h2>
    <div class="card-body">
      <h5 class="card-title">{{user.id}}</h5>
      <h5 class="card-title">{{user.email}}</h5>
      <h5 class="card-title">{{user.userStatus}}</h5>
      <p class="card-text">{{user.description}}</p>
     
    </div>
    <div class="card-footer ">
        <button class="btn btn-sm btn-dark" [routerLink]="['/user']">Back</button>     
        <button class="btn btn-sm btn-primary m-2" (click)="addUser()">Add</button>     
        <button class="btn btn-sm btn-primary m-2" (click)="deleteUser(user.id)">Delete</button>     
        <button class="btn btn-sm btn-warning  m-2" (click)="updateUser(user.id)">Edit</button>     
        <button class="btn btn-sm btn-success">Add Task</button>     
    </div>
  </div>